.menu {
    text-align: center;
}

.parent {
    min-height: 50vh;
    width: 100%;
}

a {
    text-decoration: none;
}

h3 {
    text-align-last: center;
    color: white;
    font-family: CenturyGothic;
}

h2 {
    text-align-last: center;
    color: white;
    font-family: CenturyGothic;
}

p {
    text-align-last: left;
    color: white;
    font-family: CenturyGothic;
}

h1 {
    color: white;
    font-family: CenturyGothic;
}

.item {
    color: white;
    font-family: CenturyGothic;
    font-size: 20;
    text-align: center;
    display: inline-block;
    width: 248px;
}

.item img {
    border-radius: 50%;
}

.icon {
    text-align: center;
    display: inline-block;
    image-rendering: auto;
    width: 65px;
    filter: invert(100%);
    margin: 20px;
}

.socialmedia {
    width: 100%;
    margin: 0;
    text-align: center;
    position: sticky;
    top: 1vh;
}

.stars-decoration {
    background-size: cover;
    image-rendering: pixelated;
    background-image: url(images/stars-transparent.png);
    left: 50%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.about {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.about:nth-child(0) {
    animation-delay: 0.2s;
}

.about:nth-child(1) {
    animation-delay: 0.4s;
}

.about:nth-child(2) {
    animation-delay: 0.6s;
}

.about:nth-child(3) {
    animation-delay: 0.8s;
}

.about:nth-child(4) {
    animation-delay: 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    height: 70px;
    margin-right: 10px;
}

.arrowe {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #fff;
    margin: 30px
}

.about p {
    margin: 0;
}

.about img {
    display: block;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.logo {
    height: 60px;
    margin-right: 10px;
}

.about p {
    margin: 0;
}

.about img {
    display: block;
}

.image {
    cursor: pointer;
    width: 90%;
}

body {
    image-rendering: pixelated;
    background-image: url(img/stars.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
}

@media (min-width: 768px) {
    body {
        background-position: 50% 50%;
    }
}

.center-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.software {
    margin: 1% 100 1% 100;
}

.about-me {
    text-align: left;
    margin: auto;
    max-width: 700px;
}

.software-about {
    padding: 10 10 10 10;
    font-family: CenturyGothic;
    color: white;
}

.blog-post {
    max-width: 100vh;
    font-family: CenturyGothic;
    color: white;
}

@font-face {
    font-family: CenturyGothic;
    src: url(fonts/centurygothic.ttf);
}

.title {
    margin-top: 100px;
    margin-bottom: 100px;
}

h1.title {
    color: white;
    font-family: CenturyGothic;
    text-align-last: center;
    font-size: 30;
    margin: 0 0 0 0;
}

p.title {
    color: white;
    font-family: CenturyGothic;
    text-align-last: center;
    font-size: 10;
    margin: 0 0 50 0;
}

a {
    color: white;
    text-decoration: none;
}

.arrow {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    background-color: var(--gray);
    transition: opacity 0.1s;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.software-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 40vh);
    grid-auto-rows: max-content;
    gap: 6vh;
    margin: 3vh;
    justify-content: center;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 60vh);
    grid-template-rows: repeat(auto-fit, 40vh);
    grid-auto-rows: max-content;
    gap: 6vh;
    margin: 3vh;
    justify-content: center;
}

.generic-container {
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generic-box {
    background: linear-gradient(-45deg, #6a00ff25, #001b9525);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
    margin: 1vh;
    padding: 2vh;
    color: white;
    font-family: CenturyGothic;
    max-width: 100vh;
    display: flex;
    align-items: center;
}


/* Centered block images */

.img-block {
    margin: 0 auto;
    display: block;
    padding: 2vh;
    max-height: 20vh;
}

.generic-box .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.generic-box a:hover {
    color: #00F;
}

.generic-box a {
    color: rgb(0, 0, 143);
}

.generic-box .button-container a {
    display: inline-block;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #ffffff14;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.generic-box .button-container a:hover {
    background-color: #98989814;
}

.highlight-container {
    padding: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight-box {
    background: linear-gradient(-45deg, #ff00003d, #005a957e);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
    margin: 10vh;
    color: white;
    font-family: CenturyGothic;
    max-height: 60vh;
    max-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}

.highlight-box iframe {
    width: 100%;
    height: 100%;
}

.software-about {
    padding: 20px;
    text-align: left;
}

.software-box {
    background: linear-gradient(-45deg, #d000ff14, #4800951f);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
    color: white;
    font-family: CenturyGothic;
}

.software-box a {
    display: block;
    height: 100%;
}

.software-box p {
    font-size: 13px;
    /* Set the desired font size */
}

.software-box:hover {
    background: linear-gradient(-45deg, #001aff38, #ff00f234);
    animation: gradient 2s ease infinite;
    background-size: 400% 400%;
}

.highlight {
    background: #001aff26;
    font-family: CenturyGothic;
    color: white;
    justify-content: center;
    margin: 10px;
    height: 1vh;
}

.highlight-container {
    padding: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left {
    align-self: center;
    padding: 10%;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.album-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 40vh);
    grid-auto-rows: max-content;
    gap: 6vh;
    justify-content: center;
}

.album {
    background: linear-gradient(-45deg, #000dff14, #4800951f);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
    padding: 1vh;
    color: white;
    font-family: CenturyGothic;
    max-height: 90vh;
}

.album:hover {
    background: linear-gradient(-45deg, rgba(0, 255, 157, 0.22), #650d6d52);
    animation: gradient 2s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.album-details {
    margin: auto;
}

.album-details h2 {
    text-align-last: center;
    color: white;
    font-family: CenturyGothic;
}

.cover {
    object-fit: cover;
    width: 35vh;
    height: 35vh;
    display: block;
    margin: auto;
}

.software-banner {
    object-fit: cover;
    width: 100%;
    height: 30%;
    display: block;
}

.blog-banner {
    object-fit: cover;
    width: 100%;
    height: 50%;
    display: block;
}

.music {
    color: white;
    font-family: CenturyGothic;
}

.about {
    color: white;
    font-family: CenturyGothic;
    text-align-last: center;
}

footer {
    margin: 300 0 0 0;
}

.art {
    margin: 1% 1% 1% 1%;
    text-align-last: center;
}

.art-card {
    margin: 5px;
    display: inline-block;
    color: white;
    font-family: CenturyGothic;
    font-size: 20;
}

.art-image {
    max-height: 30vh;
}