.menu {
    text-align: center;
}

.parent {
    height: 600px;
    width: 100%;
}

.socialmedia {
    height: 90;
    width: 100%;
    margin: 140 0 0 0;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}

h3 {
    text-align-last: center;
    color: white;
    font-family: CenturyGothic;
}

h2 {
    text-align-last: center;
    color: white;
    font-family: CenturyGothic;
}

h1 {
    text-align-last: center;
    color: white;
    font-family: CenturyGothic;
}

.item {
    color: white;
    font-family: CenturyGothic;
    font-size: 20;
    text-align: center;
    display: inline-block;
    width: 248px
}

.icon {
    text-align: center;
    display: inline-block;
    image-rendering: auto;
    width: 65px;
    filter: invert(100%);
    margin: 10 10 10 10;
}

html {
    scroll-behavior: smooth;
}

.image {
    cursor: pointer;
    width: 90%;
}

body {
    image-rendering: pixelated;
    background-image: url(img/stars.png);
    background-size: cover;
    background-attachment: fixed;
}

.software {
    margin: 10% 100 10% 100;
    text-align-last: center;
}

.software-box {
    top: 0;
    display: inline-block;
    background-color: black;
    width: 20%;
    max-width: 400px;
    margin: 50 50 50 50;
}

.software-about {
    padding: 10 10 10 10;
    font-family: CenturyGothic;
    color: white;
}

@font-face {
    font-family: CenturyGothic;
    src: url(fonts/centurygothic.ttf);
}

.title {
    margin-top: 100px;
    margin-bottom: 100px;
}

h1.title {
    color: white;
    font-family: CenturyGothic;
    text-align-last: center;
    font-size: 30;
    margin: 0 0 0 0;
}

p.title {
    color: white;
    font-family: CenturyGothic;
    text-align-last: center;
    font-size: 10;
    margin: 0 0 50 0;
}

.album-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 40vh);
    grid-auto-rows: max-content;
    gap: 2vh;
    margin: 3vh;
    justify-content: center;
}

.album {
    outline: 5px dashed rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1vh;
    color: white;
    font-family: CenturyGothic;
    max-height: 60vh;
    font-size: 1vw;
}

.album-details {
    margin: auto;
}

.cover {
    width: 35vh;
    height: 35vh;
    display: block;
    margin: auto;
}

.stars-decoration {
    height: 500px;
    margin: 200 0 0 0;
    background-size: cover;
    image-rendering: pixelated;
    background-image: url(images/stars-transparent.png);
}

.music {
    color: white;
    font-family: CenturyGothic;
}

.about {
    color: white;
    font-family: CenturyGothic;
    text-align-last: center;
}

footer {
    margin: 300 0 0 0;
}

.art {
    margin: 5% 5% 5% 5%;
    text-align-last: center;
}

.art-card {
    margin: 30;
    display: inline-block;
    color: white;
    font-family: CenturyGothic;
    font-size: 20;
}

.art-image {
    max-height: 225px;
}